<div class="row">
    <div class="col-sm-6 mx-auto">
        <div class="text-center">
            <h4>
                Sign Up
            </h4>

        </div>
        <form  [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="form-group px-1">
            <label for="userName">userName</label>
            <input type="text" class="  form-control"
            [ngClass]="{'is-invalid':userName?.errors && userName?.touched }"
            placeholder="userName" formControlName="userName"> 
            <small class="text-danger" *ngIf="userName?.hasError('usernameTaken') ">Username is taken</small>   
            <small class="text-danger" *ngIf="userName?.hasError('required') ">Username is required</small>   
            <small class="text-danger" *ngIf="userName?.hasError('minLength') ">
                Username must be a least 3characters
            </small>   
           

        </div>
        <div class="form-group px-1">
            <label for="password">Password</label>
            <input type="password" class="  form-control" 
            [ngClass]="{'is-invalid':password?.errors && password?.touched }" 
             placeholder="Password" formControlName="password">
            <div class="text-danger"  *ngIf="password?.hasError('required') ">
                <small>Password required</small>   
            </div>
        </div>
        <div class="form-group px-1">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" class="  form-control"
             [ngClass]="{'is-invalid':confirmpassword?.errors && confirmpassword?.touched }"
              autocomplete  placeholder="Confirm Password" formControlName="confirmPassword">
            <div class="text-danger" *ngIf="confirmpassword?.hasError('passwordMisMatch') ">
                <small>Password Don't Match</small>   
            </div>
        </div>
        <div class="" formGroupName="address">
        <div class="row m-0 w-100">
            <div class="col-12 px-1">
                <div class="form-group">
                    <label for="street">Street</label>
                    <input type="text" class="  form-control"
                      placeholder="Street" formControlName="street">
                     
                </div>

            </div>
        </div>
        <div class="row m-0 w-100">
            <div class="col-md-6 col-12 px-1">
                <div class="form-group">
                    <label for="city">City</label>
                    <input type="text" class="  form-control"
                    
                      placeholder="City" formControlName="city">
                      
                </div>
            </div>
            <div class="col-md-4 col-12 px-1">
                <div class="form-group">
                    <label for="state">State</label>
                    <select   class="  form-control  "  placeholder="State" formControlName="state">
                        <option disabled>Choose ...</option>
                        <option  *ngFor="let state of stateOptions" [ngValue]="state">{{state}}</option>
                    </select>
        
                </div>
            </div>
            <div class="col-md-2 col-12 px-1">
                <div class="form-group">
                    <label for="zip">Zip</label>
                    <input type="text" class="form-control" 
                     
                     placeholder="Zip" formControlName="zip">
                      
                </div>
            </div>
            

        </div>
        </div>
   <p>
    Form Status : {{ userForm.status}}
   </p>
 
 
        <div class="d-flex">
            <button class="btn btn-success d-flex align-items-center mr-2"
            [disabled]="userForm.invalid"
             type="submit"(click)="onSubmit()" >
                <span class="material-symbols-outlined mr-2">save</span> 
                <span>Save</span>
                </button>
            <button class="btn btn-warning d-flex align-items-center mr-2" (click)="clear()">
                <span class="material-symbols-outlined mr-2">backspace</span> 
                <span>Clear</span>
                </button>
            <button class="btn btn-info d-flex align-items-center" (click)="autoFillAddress()">
                <span class="material-symbols-outlined mr-2">badge</span> 
                <span>Auto Fill Address</span>
                </button>
        </div>
    </form>
    </div>

</div>
